@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
/* reset을 가장 먼저 , 이것도 위에서 아래로 순서가 중요  */
@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-header.css";
@import "components/splash.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/setting.css";
@import "screens/chat.css";
@import "screens/chats.css";

body {
  font-family: "Roboto Condensed", sans-serif;
  /* background: linear-gradient(powderblue, pink);
  height: 100vh; */
  height: 300vh;
  color: rgb(58, 57, 57);
  background: rgb(180, 223, 228);
}

/* 여러 html 파일에 form input 이 나올건데
매번 outline을 없앨게 확신하면 여기에 적는다  */

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: gray;
}
a:hover {
  color: var(--blue);
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
