.cog-notifi {
  width: 5px;
  height: 5px;
  background: tomato;
  border-radius: 50%;
  position: relative;
  left: 45px;
  bottom: 10px;
}
.screen-header_find .screen-header-icons {
  /* background: pink; */
  display: flex;
  align-items: center;
}
/* icon-row-icon */
.icon-row-icon i {
  transition: color 1s;
  cursor: pointer;
}
.icon-row-icon i:hover {
  color: var(--blue);
}
/* recommended friends  */
.recommended-friends {
  padding: 20px 0px;
  margin: 20px 0px;
  border-top: var(--border);
  border-bottom: var(--border);
}
.recommended-friends_title {
  font-size: 0.9rem;
  color: var(--gray);
}
/* this is so clever */
.recommended-friends_text {
  font-size: 1.1rem;
  color: var(--gray);
  margin: 90px 0px;
  text-align: center;
}
/* open-chat */
.open-chat_header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin-bottom: 15px;
}
.open-chat_header-text {
  opacity: 0.3;
}
.open-chat_header-text i {
  margin-left: 5px;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post_title {
  font-size: 1.1rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.open-post_hashtag {
  font-size: 1rem;
  opacity: 0.5;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.open-post_members {
  display: flex;
}
.open-post_members img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 20px;
}
.open-post_member-status {
  color: hotpink;
}
.open-post_members .divider {
  width: 1px;
  height: 15px;
  background: var(--gray);
  margin: 0px 5px;
}
.open-post_column:last-child img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}
.open-post_column:last-child {
  position: relative;
}

.open-post_love-count {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 7px;
  border-radius: 20px;
  font-size: 0.8rem;
  /* position absolute 주면 크기가 콘텐츠 크기만큼 작아진다  */
  /* width height 지정없이 padding으로 줄 수 있다 */
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  align-items: center;
}
.open-post_love-count i {
  margin-right: 3px;
}

.open-post_divider {
  border-top: var(--border);
  margin: 10px 0px;
}

.open-post_column:last-child:hover .open-post_love-count i {
  /* 만약에 애니메이션이 불안정하게 움직일때 - 흔들릴때 */
  will-change: transform;
  animation: heartbeat 1s linear infinite;
}
@keyframes heartbeat {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.5);
    color: red;
  }
  100% {
    transform: none;
  }
}
#find-body nav .fa-search {
  color: var(--blue);
}
