/* 내가 짠 header */
.welcome-header {
  margin: 75px 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-header h1 {
  margin-bottom: 30px;
  font-size: 2rem;
}
.welcome-header p {
  /* 이렇게 두면 화면크기에 따라 달라진다  */
  width: 60%;
  /* 글씨 흐리게 
    전체를 opacity 또는 color를 지정 */
  opacity: 0.6;
}

/* form */
/* 니코쌤 코드 */

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
}
#login-form input {
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: border-color 1s;
}
/* 애네는 이렇게 줄건데 ~
  not인애 뺴고 ~ */
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid gray;
  transition: all 1s;
  opacity: 0.5;
}

#login-form input:not([type="submit"]):hover {
  border-color: rgb(92, 188, 196);
}

#login-form input[type="submit"] {
  background: rgb(92, 188, 196);
  opacity: 0.5;
  border-radius: 5px;
}
#login-form input[type="submit"]:hover {
  opacity: 1;
}

#login-form input:nth-child(3) {
  margin-top: 35px;
  margin-bottom: 15px;
}
#login-form a {
  margin-top: 23px;
  text-align: center;
  color: gray;
}
#login-form a:hover {
  color: rgb(92, 188, 196);
}

#login-form input:first-child,
#login-form input:nth-child(2) {
  background: rgb(180, 223, 228);
}

/* 내가 짠 코드 */
/* 
  #login-form input:first-child,
  #login-form input:nth-child(2) {
    border-bottom: 1px solid gray;
    opacity: 0.5;
  }
  
  #login-form input:hover {
    border-color: var(--blue);
  }
  
  #login-form input:nth-child(3) {
    margin-bottom: 12px;
    margin-top: 36px;
  }
  #login-form input[type="submit"] {
    background: var(--blue);
    opacity: 0.5;
  }
  #login-form input[type="submit"]:hover {
    opacity: 1;
  }
  
  #login-form a {
    text-decoration: none;
    color: gray;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 24px;
  }
  #login-form a:hover {
    color: var(--blue);
  } */
/*  */
.onlymobile {
  width: 100vw;
  height: 100vh;
  background: var(--blue);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
@media screen and (max-width: 500px) {
  .onlymobile {
    display: none;
  }

  /* #index-body {
    color: yellow;
  } */
}
.splash-mepic {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  animation: showup 1s ease-in-out forwards;
}
/* splash component css */
@keyframes showup {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media (orientation: portrait) {
  .onlyportrait {
    display: none;
  }
}
